@import 'tailwindcss';

/* MAIN COLORS CIFRAPALOTA
BACKGROUND: WHITE
PRIMARY: #D1966D
SECONDARY: #A36D14
TERTIARY: #454921
*/

@theme {
  --color-primary: rgb(144 75 60);
  --color-surface-tint: rgb(144 75 60);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(255 218 211);
  --color-on-primary-container: rgb(115 52 39);
  --color-secondary: rgb(119 87 80);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(255 218 211);
  --color-on-secondary-container: rgb(93 63 57);
  --color-tertiary: rgb(110 93 46);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(249 224 166);
  --color-on-tertiary-container: rgb(85 69 25);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(255 248 246);
  --color-on-background: rgb(35 25 23);
  --color-surface: rgb(255 248 246);
  --color-on-surface: rgb(35 25 23);
  --color-surface-variant: rgb(245 221 217);
  --color-on-surface-variant: rgb(83 67 64);
  --color-outline: rgb(133 115 111);
  --color-outline-variant: rgb(216 194 189);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(57 46 44);
  --color-inverse-on-surface: rgb(255 237 233);
  --color-inverse-primary: rgb(255 180 164);
  --color-primary-fixed: rgb(255 218 211);
  --color-on-primary-fixed: rgb(58 10 3);
  --color-primary-fixed-dim: rgb(255 180 164);
  --color-on-primary-fixed-variant: rgb(115 52 39);
  --color-secondary-fixed: rgb(255 218 211);
  --color-on-secondary-fixed: rgb(44 21 16);
  --color-secondary-fixed-dim: rgb(231 189 180);
  --color-on-secondary-fixed-variant: rgb(93 63 57);
  --color-tertiary-fixed: rgb(249 224 166);
  --color-on-tertiary-fixed: rgb(36 26 0);
  --color-tertiary-fixed-dim: rgb(219 196 140);
  --color-on-tertiary-fixed-variant: rgb(85 69 25);
  --color-surface-dim: rgb(232 214 210);
  --color-surface-bright: rgb(255 248 246);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(255 240 238);
  --color-surface-container: rgb(252 234 230);
  --color-surface-container-high: rgb(247 228 224);
  --color-surface-container-highest: rgb(241 223 219);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility darkmode {
  --color-primary: rgb(255 180 164);
  --color-surface-tint: rgb(255 180 164);
  --color-on-primary: rgb(86 31 19);
  --color-primary-container: rgb(115 52 39);
  --color-on-primary-container: rgb(255 218 211);
  --color-secondary: rgb(231 189 180);
  --color-on-secondary: rgb(68 42 36);
  --color-secondary-container: rgb(93 63 57);
  --color-on-secondary-container: rgb(255 218 211);
  --color-tertiary: rgb(219 196 140);
  --color-on-tertiary: rgb(60 47 4);
  --color-tertiary-container: rgb(85 69 25);
  --color-on-tertiary-container: rgb(249 224 166);
  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);
  --color-background: rgb(26 17 15);
  --color-on-background: rgb(241 223 219);
  --color-surface: rgb(26 17 15);
  --color-on-surface: rgb(241 223 219);
  --color-surface-variant: rgb(83 67 64);
  --color-on-surface-variant: rgb(216 194 189);
  --color-outline: rgb(160 140 136);
  --color-outline-variant: rgb(83 67 64);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(241 223 219);
  --color-inverse-on-surface: rgb(57 46 44);
  --color-inverse-primary: rgb(144 75 60);
  --color-primary-fixed: rgb(255 218 211);
  --color-on-primary-fixed: rgb(58 10 3);
  --color-primary-fixed-dim: rgb(255 180 164);
  --color-on-primary-fixed-variant: rgb(115 52 39);
  --color-secondary-fixed: rgb(255 218 211);
  --color-on-secondary-fixed: rgb(44 21 16);
  --color-secondary-fixed-dim: rgb(231 189 180);
  --color-on-secondary-fixed-variant: rgb(93 63 57);
  --color-tertiary-fixed: rgb(249 224 166);
  --color-on-tertiary-fixed: rgb(36 26 0);
  --color-tertiary-fixed-dim: rgb(219 196 140);
  --color-on-tertiary-fixed-variant: rgb(85 69 25);
  --color-surface-dim: rgb(26 17 15);
  --color-surface-bright: rgb(66 55 52);
  --color-surface-container-lowest: rgb(20 12 10);
  --color-surface-container-low: rgb(35 25 23);
  --color-surface-container: rgb(39 29 27);
  --color-surface-container-high: rgb(50 40 37);
  --color-surface-container-highest: rgb(61 50 48);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  @apply bg-slate-100;
}
